.client {
  @media screen and (max-width: $desktop - 1px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title-customers {
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: $desktop - 1px) {
    margin: -15px;
  }
}

.client-bgt {
  @include centerflex;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  @media screen and (max-width: $desktop - 1px) {
    width: calc((100% - 4 * 15px) / 2);
    height: 90px;
  }

  @media screen and (min-width: $desktop) {
    width: 170px;
    height: 90px;
  }
}

.logo-client {
  fill: #afb1b8;
}

.client-bgt {
  &:hover,
  &:focus {
    border-color: $accent-color;
    transition-duration: $main-time;
    transition-timing-function: $main-cubic;
  }
}

.client-bgt:hover,
.client-bgt:focus {
  svg {
    fill: $accent-color;
    transition-duration: $main-time;
    transition-timing-function: $main-cubic;
  }
}

.client-link {
  @include centerflex;
}

@media screen and (min-width: $desktop) {
  .client-items:not(:last-child) {
    margin-right: 30px;
  }
}

.client-items {
  @media screen and (max-width: $desktop - 1px) {
    margin: 15px;
  }
}
