html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: $main-color-text;
  background-color: $third-color;

  font-family: $main-font-family;
  font-weight: 400;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  color: $main-color-text;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
